@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Mulish, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
}

p {
  @apply font-medium;
}

.btn {
  @apply h-[3rem] flex items-center justify-center rounded-lg px-5 py-3 text-base whitespace-nowrap shadow-sm hover:brightness-110 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:brightness-90 disabled:opacity-70 disabled:cursor-not-allowed disabled:hover:brightness-100;
}

.btn-primary {
  @apply bg-primary text-white font-bold;
}

.btn-primary-text {
  @apply text-white font-bold;
}
.btn-secondary {
  @apply bg-transparent border-primary text-neutral950 border font-bold;
}

.btn-secondary-text {
  @apply text-neutral950 font-bold;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
